// global color tokens

$-clr-white-100: hsl(0 0% 100%);
$-clr-white-200: hsl(227 100% 98%);

$-clr-black-700: hsl(217 21% 21%);
$-clr-black-800: hsl(220 40% 13%);

$-clr-blue-300: hsl(212, 100%, 69%);
$-clr-blue-400: hsl(212 100% 50%);
$-clr-blue-450: hsl(222, 44%, 70%);
$-clr-blue-500: hsl(217 20% 51%);
$-clr-blue-600: hsl(217 35% 45%);
$-clr-blue-800: hsl(222 41% 20%);

$-clr-red-400:hsl(0 92% 62%);


$light: (
  "neutral": (
    "000": $-clr-white-100,
    "100": $-clr-white-100,
    "200": $-clr-white-200,
    "700": $-clr-black-700,
    "800": $-clr-black-800,
    "darkmode": $-clr-black-800,
  ),
  "accent": (
    "300": $-clr-blue-300,
    "400": $-clr-blue-400,
    "500": $-clr-blue-500,
    "600": $-clr-blue-600,
    "800": $-clr-blue-800,
  ),
  "error": (
    "400": $-clr-red-400,
  ),
);

$dark: (
  "neutral": (
    "000": $-clr-white-100,
    "100": $-clr-blue-800,
    "200": $-clr-black-800,
    "700": $-clr-white-100,
    "800": $-clr-white-100,
    "darkmode": $-clr-blue-450,
  ),
  "accent": (
    "300": $-clr-blue-300,
    "400": $-clr-blue-400,
    "500": $-clr-white-100,
    "600": $-clr-white-100,
    "800": $-clr-white-100,
  ),
  "error": (
    "400": $-clr-red-400,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-darkmode: var(--neutral-darkmode);

$color-error-400: var(--error-400);

$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-800: var(--accent-800);
